# --- Shared ---
.vscode/
*.code-workspace
sources/**/logs

# --- Agent ---
.cache/
compile_commands.json
sources/agent/agent.conf
.clang-format
*.uuid
out/

# --- Server ---
sources/server/pb/
sources/server/server
