# --- Shared ---
.vscode/
*.code-workspace

# --- Agent ---
build/
.cache/
compile_commands.json
sources/agent/agent.conf
.clang-format

# --- Server ---
sources/server/pb/
sources/server/server
sources/**/logs
