name: Agent CI

on:
  push:
    branches: [ "main", "devel" ]
    paths:
      - 'source/agent/**'      # If changes are in the agent source code
      - 'libs/**'              # If changes are in libraries (proto, NVIDIA headers)
      - 'CMakeLists.txt'       # If changes are in main CMake (affects everything)
      - '.github/workflows/agent_ci.yml'
  pull_request:
    branches: [ "main", "devel" ]
    paths:
      - 'source/agent/**'
      - 'libs/**'
      - 'CMakeLists.txt'
      - '.github/workflows/agent_ci.yml'

jobs:
  build-and-test:
    name: Build & Format Check
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential cmake \
        libgrpc++-dev libprotobuf-dev protobuf-compiler-grpc \
        libabsl-dev clang-format cppcheck

    - name: Check Code Formatting
      run: |
        find source/agent -name "*.cc" -o -name "*.h" | xargs clang-format --dry-run --Werror -style=Google

    - name: CMake Configure
      run: cmake -B build -S .

    - name: Build
      run: cmake --build build --parallel $(nproc)

    - name: Analyze Logic
      run: |
        cppcheck --enable=warning,performance,portability \
        --error-exitcode=1 \
        --suppress=missingIncludeSystem \
        --inline-suppr \
        --force \
        -i build -i libs \
        source/agent
  
  # formatting:
  #   name: Code Style Check
  #   runs-on: ubuntu-latest
    
  #   steps:
  #   - uses: actions/checkout@v4
    
  #   - name: Run clang-format check
  #     run: |
  #       find . -regex '.*\.\(cc\|cpp\|h\)' -not -path "./build/*" -not -path "./libs/*" | xargs clang-format --dry-run --Werror -style=file

  #   - name: Install Cppcheck
  #     run: sudo apt-get install cppcheck
